<div class="slideshow">
  <div class="slides">
    <img src="https://i.ibb.co/Z6N653Zw/image-2025-08-15-032843048.png" alt="Us together">
    <img src="https://thumbs.dreamstime.com/b/chipmunks-couple-romantic-pose-ai-generated-chipmunks-couple-romantic-pose-373727582.jpg" alt="Romantic moment">
    <img src="https://i.ibb.co/93Vk9M4t/image-2025-08-15-032824384.png" alt="Memories">
  </div>

  <div class="overlay"></div>

  <div class="content">
    <h1></h1>
    <button class="start-btn" routerLink="/wheel">START NOW 💚</button>
  </div>
</div>
